/*Smartphone*/
@media (max-width: 600px) {

}

/*Tablet*/
@media (min-width: 601px) and (max-width: 840px) {

}

/*desktop*/
@media (min-width: 841px) {

}


.voteContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
  padding: 5px;
  background-color: var(--md-sys-color-on-secondary-container-dark);
  color: var(--md-ref-palette-secondary20);
  place-items: center;
  border-radius: 10px;
  .upvoteBox, .downvoteBox{
    margin-top: 3px;
  }
}