@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: rgb(var(--md-sys-color-inverse-surface));
    background-color: var(--general-bg);;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: dark;
    }
}